@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.per{
  border-bottom: 3px;
  border: 1px solid black;
  color: rgb(27, 29, 31);
  font-weight: small;
  column-rule-color: #ff0000;
  
}
.bt{
 font-variant:small-caps;
 
}
.second{
  
 
  padding-bottom: 100000px;
  
  
}
.aa{
  margin: auto;
  width: 150%;
  text-align: center;
  position: absolute;
  top: 40px;
}
.bc{
  margin-left: 7px;
  width: 150%;
}
.mom{
  margin-right: 15px;
  
}
.watch{
  text-align: center;
  top: 40px;
}
.Text{
  text-align: center;
  padding: 10px;
  border: none;
}